<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events </title>
    {% include 'sa_app/common/common_css.html' %}

<style>

  .card{
    height:460px
  }
</style>

    
</head>
<body>

    {% include 'sa_app/common/header.html' %}
    <!-- <h1> Upcomings Offers News  </h1> -->
    {% for e in events_key%}
    <div class="card mt-5" style="width: 18rem;float:left;margin-left: 20px;">
        <img src="/media/{{e.event_pic}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{e.event_name}}</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vanue :  {{e.event_venue}}</li>
          <li class="list-group-item">Date : {{e.event_date}}</li>
          <li class="list-group-item"> {{e.event_description}}</li>
        </ul>
        <!-- <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div> -->
      </div>

    <!-- <h2>{{e.event_name}}</h2>
    <h2>{{e.event_vanue}}</h2> -->

    {%endfor%}
</body>
</html>