<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA_APP</title>
    {% include 'sa_app/common/common_css.html' %}
</head>
<body>
    {% include 'sa_app/common/header.html' %}

    <h3> WE WELCOMES YOU A FEEDBACK PAGE </h3>
    
<div class="container">


    <div class="row mt-5">


        <div class="col-6 p-0 ">

<img src="{%static 'sa_app/images/feedbackpic1.jpg'%}" alt="image is loading" class="w-100">

        </div>


        <div class="col-6 text-center " style="background-color: deepskyblue; color: black;">
<h1>Give us your valuable feedback</h1>
            <form  method="post" action="/feedback/">
                {% csrf_token %}
                <div class="input-group mt-4">

                    <label for=""  class="input-group-text"> Your Name Please </label>
                    <input type="text" name="name" placeholder="Enter your name " class="form-control">
                </div>

                <div class="input-group mt-4">
                    <label for="" class="input-group-text">Your Email Please</label>
                    <input type="email" name="email" placeholder="Enter your email " class="form-control">


                </div>

                <!-- <div class="input-group mt-4">
                    <label for="" class="input-group-text">Number</label>
                    <input type="number" name="number" placeholder="Enter your number " class="form-control">


                </div> -->
                <div class=" input-group mt-4">
                    <label for="" class="input-group-text" > Enter your feedback please</label>
                    <textarea name="remark"  id="" cols="30" rows="3" placeholder="Enter your Feedback " class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="Rating" class="form-label">Your Ratings Please</label><i class='fas fa-star'></i>
                    <div class="rating">
                        <select id="rating select" name="rating" class="form-control" required>
                <option value="" selected disabled>Select rating</option>
        <option values="1">*</option>
        <option values="2">**</option>
        <option values="3">***</option>
        <option values="4">****</option>
        <option values="5">*****</option>
                        </select>
        
        
        
        
                    </div>
                </div>
        <!-- <p> Thank You So Much For Your Valuable Feedbacks </p> -->
<button type="submit" class="btn btn-primary w-50 mt-3 ">Submit</button>

            </form>


        </div>


    </div>





</div>




  

    {% include 'sa_app/common/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>